Para alinear las tablas a la izq

In [1]:
%%html
<style>
table {float:left}
</style>

## **Resumen de este notebook**

### El objetivo de este notebook es ver de que tratan los tipos de datos del dataset y cuanta información falta. 
### Para no leer todo el código tedioso varias veces dejo el resumen del mismo:

#### El dataset en sí es chico, solo ocupa **44 MB** asi que convertir a los tipos de datos no es necesario, pero sirve ver que son cada uno para entenderlos

#### Análisis de los valores **nulos** del dataset:

| Columna | Porcentaje |
| --- | --- |
| lng | 51.453333% |
| lat | 51.453333% |
| direccion | 22.113333% |
| metrostotales | 21.444583% |
| antiguedad | 18.147917% |
| garages | 15.735417% |
| idzona | 11.925417% |
| banos | 10.925417% |
| habitaciones | 9.362917% |
| metroscubiertos | 7.250000% |
| titulo | 2.244583% |
| descripcion | 0.674583% |
| ciudad | 0.155000% |
| provincia | 0.064583% |
| tipodepropiedad | 0.019167% |
| precio | 0.019167% |
| centroscomercialescercanos | 0% |
| fecha | 0% |
| gimnasio | 0% |
| usosmultiples | 0% |
| piscina | 0% |
| escuelascercanas | 0% |
| id | 0% |

### Habrá que ver que se puede recuperar en base a estos porcentajes

#### Análisis de los **tipos** de datos:

| Columna | Tipo de dato |
| --- | --- |
| lng | **float64** |
| lat | **float64** |
| direccion | Es un object pero podría ser un **string** |
| metrostotales | Es float64 pero podría ser **int16** |
| antiguedad | Es float64 pero podría ser **int8** |
| garages | Es float64 pero podría ser **int8** |
| idzona | Es float64 pero podría ser **int32** |
| banos | Es float64 pero podría ser **int8** |
| habitaciones | Es float64 pero podría ser **int8** |
| metroscubiertos | Es float64 pero podría ser **int16** |
| titulo | Es un object pero podría ser un **string** |
| descripcion | Es un object pero podría ser un **string** |
| ciudad | Es un object pero podría ser un **string** o **categorico**  |
| provincia | Es un object pero podría ser **categorico**  |
| tipodepropiedad | Es un object pero podría ser **categorico** |
| precio | Es float64 pero podría ser **int32** |
| centroscomercialescercanos | Es float64 pero podría ser **bool** |
| fecha | Es un object pero podría ser **datetime**  |
| gimnasio | Es float64 pero podría ser **bool** |
| usosmultiples | Es float64 pero podría ser **bool** |
| piscina | Es float64 pero podría ser **bool** |
| escuelascercanas | Es float64 pero podría ser **bool** |
| id | Es int64 pero podría ser **int32** |

### Muchos floats sobran y algunos tipos de datos pueden ser categoricos

### **//TO DO**: definir ciudad que puede ser string o categorico

## **Análisis de los tipos de datos**

In [2]:
import pandas as pd

In [3]:
df_navent = pd.read_csv('data/train.csv')

In [4]:
df_navent.memory_usage(index=True).sum()

44160080

In [5]:
df_navent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 23 columns):
id                            240000 non-null int64
titulo                        234613 non-null object
descripcion                   238381 non-null object
tipodepropiedad               239954 non-null object
direccion                     186928 non-null object
ciudad                        239628 non-null object
provincia                     239845 non-null object
antiguedad                    196445 non-null float64
habitaciones                  217529 non-null float64
garages                       202235 non-null float64
banos                         213779 non-null float64
metroscubiertos               222600 non-null float64
metrostotales                 188533 non-null float64
idzona                        211379 non-null float64
lat                           116512 non-null float64
lng                           116512 non-null float64
fecha                         240000 non-null object
gimnasio                      240000 non-null float64
usosmultiples                 240000 non-null float64
piscina                       240000 non-null float64
escuelascercanas              240000 non-null float64
centroscomercialescercanos    240000 non-null float64
precio                        240000 non-null float64
dtypes: float64(15), int64(1), object(7)
memory usage: 42.1+ MB

## Veo porcentaje de nulls

In [6]:
(df_navent.isnull().sum() * 100 / len(df_navent)).sort_values(ascending=False)

lng                           51.453333
lat                           51.453333
direccion                     22.113333
metrostotales                 21.444583
antiguedad                    18.147917
garages                       15.735417
idzona                        11.925417
banos                         10.925417
habitaciones                   9.362917
metroscubiertos                7.250000
titulo                         2.244583
descripcion                    0.674583
ciudad                         0.155000
provincia                      0.064583
tipodepropiedad                0.019167
precio                         0.000000
centroscomercialescercanos     0.000000
fecha                          0.000000
gimnasio                       0.000000
usosmultiples                  0.000000
piscina                        0.000000
escuelascercanas               0.000000
id                             0.000000
dtype: float64

Salvo latitud o longitud se puede tener en cuenta casi todo, habrá que ver que se puede recuperar

## Veo que de los tipos de datos no haya algunos que sobre la precisión o no correspondan y para tener una idea de cada columna

## id

In [7]:
df_navent["id"].head(5)

0    254099
1     53461
2    247984
3    209067
4    185997
Name: id, dtype: int64

In [8]:
df_navent["id"].max()

299999

Con **int32** alcanza pero el tipo de dato es correcto

## titulo

In [9]:
df_navent["titulo"].head(5)

0                                    depto. tipo a-402
1                       condominio horizontal en venta
2                casa en venta urbi 3 recamaras tonala
3    casa sola en toluca zinacantepec con credito i...
4                                       paseos del sol
Name: titulo, dtype: object

Es un **string**

## descripcion

In [10]:
df_navent["descripcion"].head(5)

0    depto. interior de 80.15m2, consta de sala com...
1    <p>entre sonora y guerrero, atr&aacute;s del h...
2    descripcion \nla mejor ubicacion residencial e...
3    casa en privada con caseta de vigilancia casas...
4    bonito departamento en excelentes condiciones ...
Name: descripcion, dtype: object

Es un **string**

## tipodepropiedad

In [11]:
df_navent["tipodepropiedad"].head(5)

0           Apartamento
1    Casa en condominio
2                  Casa
3                  Casa
4           Apartamento
Name: tipodepropiedad, dtype: object

In [12]:
df_navent["tipodepropiedad"].value_counts()

Casa                             141717
Apartamento                       57341
Casa en condominio                19297
Terreno                            9945
Local Comercial                    3055
Oficina comercial                  1741
Bodega comercial                   1406
Edificio                           1396
Terreno comercial                  1326
Casa uso de suelo                   708
Quinta Vacacional                   395
Duplex                              343
Villa                               340
Inmuebles productivos urbanos       200
Rancho                              170
Local en centro comercial           165
Departamento Compartido             141
Otros                               134
Nave industrial                      76
Terreno industrial                   31
Huerta                               20
Lote                                  5
Garage                                1
Hospedaje                             1
Name: tipodepropiedad, dtype: int64

Es **categorico**

## direccion

In [13]:
df_navent["direccion"].head(5)

0    Avenida Division del Norte 2005
1                         AV. MEXICO
2                        Urbi Tonala
3      IGNACIO MANUEL ALTAMIRANO 128
4                    PASEOS DEL SOL
Name: direccion, dtype: object

In [14]:
df_navent["direccion"].value_counts()

-                                                                               660
.                                                                               476
1                                                                               212
Calle                                                                           194
Norte de Mérida                                                                 136
x #x                                                                            122
0                                                                               113
domicilio conocido                                                              105
calle                                                                            94
Calle 18 No.344 x 11 y 13 Col. Camara de Comercio Norte                          94
Juriquilla                                                                       84
El Refugio                                                                       78
x                                                                                77
Metepec                                                                          77
CENTRO                                                                           75
JURIQUILLA                                                                       74
...                                                                              70
Sin nombre                                                                       70
EL REFUGIO                                                                       68
Bosque Real                                                                      68
Chihuahua, CHIH, México                                                          67
CALLE                                                                            66
S/N                                                                              65
--                                                                               64
Cumbres del Lago                                                                 64
Norte                                                                            64
Centro                                                                           62
S/D                                                                              62
cancun                                                                           58
Emiliano Zapata                                                                  55
                                                                               ...
Isla Cies                                                                         1
CARRETERA MEXICO HUIXQUILUCAN No. 180                                             1
15 SUR DE ZEREZOTLA qin                                                           1
Av. Paseo soolares, coto 2, casa 50                                               1
Rosalía Monroy                                                                    1
TORREMOLINOS 254                                                                  1
De la Almeja 36                                                                   1
Dr. José S/N                                                                      1
Geógrafos, Ciudad Satélite, Estado de México.                                     1
Primer Retorno de Acoxpa No. 34                                                   1
CAMPO  DEL SEMBRADIO 9516                                                         1
Privada los Arcos                                                                 1
Benito Juarez,int.Camelias 101 12                                                 1
isla zanzibar                                                                     1
San jeronimo 330                                                                  1
TORRES QUINTERO No. 111                                                           1
Río Nazas, Col. Dos Ríos, Guadalupe                                               1
Ahuatenco #136                                                                    1
Arneses 42                                                                        1
a 10 minutos del Metro Talisman                                                   1
Fracc. Lomas de Cocoyoc, Atlatlahucan, Morelos                                    1
Cruz de Farol                                                                     1
AV. JIMENEZ CANTU N 508 COL CENTRO URBANO                                         1
BOSQUES DE VIENA 10                                                               1
Eduardo Loarca                                                                    1
Calle Gral. Emiliano Zapata #23702, Residencial Villa Escondida, Tijuana, BC      1
PIO XII #306                                                                      1
La Escondida No 192                                                               1
CASAS EN VTA, FRACC PALO ALTO                                                     1
VENDO Oficina Sta Ma la Rivera                                                    1
Name: direccion, Length: 140269, dtype: int64

Es un **string**

## ciudad

In [15]:
df_navent["ciudad"].head(5)

0             Benito Juárez
1    La Magdalena Contreras
2                    Tonalá
3              Zinacantepec
4                   Zapopan
Name: ciudad, dtype: object

In [16]:
df_navent["ciudad"].value_counts()

Querétaro                        12646
Benito Juárez                    11014
Zapopan                          10360
San Luis Potosí                   7925
Mérida                            7162
Monterrey                         6946
Alvaro Obregón                    6633
Cuauhtémoc                        6614
Naucalpan de Juárez               6554
Miguel Hidalgo                    5795
Atizapán de Zaragoza              5783
Tlalpan                           5721
Huixquilucan                      5718
Coyoacán                          5293
Puebla                            4636
Guadalajara                       4006
San Andrés Cholula                3805
Cancún                            3779
Cuernavaca                        3775
Chihuahua                         3757
Tlalnepantla de Baz               3588
Cuautitlán Izcalli                3408
Tlajomulco de Zúñiga              3254
Gustavo A. Madero                 3141
Iztapalapa                        3093
Cuajimalpa de Morelos             3020
Tijuana                           2863
Hermosillo                        2590
Acapulco de Juárez                2454
Ecatepec de Morelos               2159
                                 ...
Santa Cruz de Juventino Rosas        1
Reyes Etla                           1
Ocosingo                             1
Salinas                              1
Tarimoro                             1
Acaponeta                            1
Zinapécuaro                          1
Villa de Allende                     1
Sudzal                               1
Villa de Cos                         1
Nahuatzen                            1
Ixhuatlancillo                       1
Tuxtla Chico                         1
Atoyac                               1
Ciénega de Zimatlán                  1
Santa Cruz Acatepec                  1
Huehuetlán                           1
Chignautla                           1
Tzintzuntzan                         1
Homún                                1
El Barrio de la Soledad              1
Fresnillo                            1
Almoloya                             1
Tlalpujahua                          1
Mina                                 1
Pisaflores                           1
San Gabriel                          1
Soto la Marina                       1
Copala                               1
Aquismón                             1
Name: ciudad, Length: 875, dtype: int64

Podria ser **categorico** o **string**

## provincia

In [17]:
df_navent["provincia"].head(5)

0    Distrito Federal
1    Distrito Federal
2             Jalisco
3      Edo. de México
4             Jalisco
Name: provincia, dtype: object

In [18]:
df_navent["provincia"].value_counts()

Distrito Federal         58790
Edo. de México           41607
Jalisco                  21238
Querétaro                16988
Nuevo León               15324
Puebla                   10421
San luis Potosí           8447
Yucatán                   7928
Morelos                   7337
Veracruz                  5762
Quintana Roo              4756
Chihuahua                 4590
Coahuila                  3695
Baja California Norte     3220
Sonora                    2988
Guanajuato                2860
Guerrero                  2678
Hidalgo                   2521
Michoacán                 2471
Tamaulipas                2303
Durango                   2275
Sinaloa                   1806
Aguascalientes            1753
Baja California Sur       1700
Nayarit                   1352
Chiapas                   1126
Colima                    1008
Tabasco                    994
Tlaxcala                   839
Oaxaca                     711
Campeche                   263
Zacatecas                   94
Name: provincia, dtype: int64

Es **categorico**

## antiguedad

In [19]:
df_navent["antiguedad"].head(5)

0     NaN
1    10.0
2     5.0
3     1.0
4    10.0
Name: antiguedad, dtype: float64

In [20]:
#veo si tiene decimales viendo si todos los float son int
df_navent.antiguedad.dropna().apply(float.is_integer).all()

True

In [21]:
df_navent["antiguedad"].max()

80.0

Sobra float64 podria ser un **int8**

## habitaciones

In [22]:
df_navent["habitaciones"].head(5)

0    2.0
1    3.0
2    3.0
3    2.0
4    2.0
Name: habitaciones, dtype: float64

In [23]:
#veo si tiene decimales viendo si todos los float son int
df_navent.habitaciones.dropna().apply(float.is_integer).all()

True

In [24]:
df_navent["habitaciones"].max()

10.0

Sobra float64 podria ser un **int8**

## garages

In [25]:
df_navent["garages"].head(5)

0    1.0
1    2.0
2    2.0
3    1.0
4    1.0
Name: garages, dtype: float64

In [26]:
#veo si tiene decimales viendo si todos los float son int
df_navent.garages.dropna().apply(float.is_integer).all()

True

In [27]:
df_navent["garages"].max()

3.0

Sobra float64 podria ser un **int8**

## banos

In [28]:
df_navent["banos"].head(5)

0    2.0
1    2.0
2    2.0
3    1.0
4    1.0
Name: banos, dtype: float64

In [29]:
#veo si tiene decimales viendo si todos los float son int
df_navent.banos.dropna().apply(float.is_integer).all()

True

In [30]:
df_navent["banos"].max()

4.0

Sobra float64 podria ser un **int8**

## metroscubiertos

In [31]:
df_navent["metroscubiertos"].head(5)

0     80.0
1    268.0
2    144.0
3     63.0
4     95.0
Name: metroscubiertos, dtype: float64

In [32]:
#veo si tiene decimales viendo si todos los float son int
df_navent.metroscubiertos.dropna().apply(float.is_integer).all()

True

In [33]:
df_navent["metroscubiertos"].max()

439.0

Sobra float64 podria ser un **int16**

## metrostotales

In [34]:
df_navent["metrostotales"].head(5)

0     80.0
1    180.0
2    166.0
3     67.0
4     95.0
Name: metrostotales, dtype: float64

In [35]:
#veo si tiene decimales viendo si todos los float son int
df_navent.metrostotales.dropna().apply(float.is_integer).all()

True

In [36]:
df_navent["metrostotales"].max()

439.0

Sobra float64 podria ser un **int16**

## idzona

In [37]:
df_navent["idzona"].head(5)

0    23533.0
1    24514.0
2    48551.0
3    53666.0
4    47835.0
Name: idzona, dtype: float64

In [38]:
#veo si tiene decimales viendo si todos los float son int
df_navent.idzona.dropna().apply(float.is_integer).all()

True

In [39]:
df_navent["idzona"].max()

50003999.0

Sobra float64 pero tampoco es desmedido, podria ser un **int32**

## lat

In [40]:
df_navent["lat"].head(5)

0          NaN
1    19.310205
2          NaN
3    19.301890
4          NaN
Name: lat, dtype: float64

In [41]:
#veo si tiene decimales viendo si todos los float son int
df_navent.lat.dropna().apply(float.is_integer).all()

False

In [42]:
df_navent["lat"].max()

83.02621885344844

In [43]:
df_navent["lat"].min()

-100.886679

Dejarlo como está

## lng

In [44]:
df_navent["lng"].head(5)

0          NaN
1   -99.227655
2          NaN
3   -99.688015
4          NaN
Name: lng, dtype: float64

In [45]:
#veo si tiene decimales viendo si todos los float son int
df_navent.lng.dropna().apply(float.is_integer).all()

False

In [46]:
df_navent["lng"].max()

121.036

In [47]:
df_navent["lng"].min()

-125.859375

Dejarlo como está

## fecha

In [48]:
df_navent["fecha"].head(5)

0    2015-08-23 00:00:00
1    2013-06-28 00:00:00
2    2015-10-17 00:00:00
3    2012-03-09 00:00:00
4    2016-06-07 00:00:00
Name: fecha, dtype: object

Es **datetime**

## gimnasio

In [49]:
df_navent["gimnasio"].head(5)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: gimnasio, dtype: float64

In [50]:
#veo si tiene decimales viendo si todos los float son int
df_navent.gimnasio.apply(float.is_integer).all()

True

In [67]:
df_navent["gimnasio"].value_counts()

0.0    225006
1.0     14994
Name: gimnasio, dtype: int64

In [51]:
df_navent["gimnasio"].max()

1.0

Sobra float64 podria ser un **bool**

## piscina

In [52]:
df_navent["piscina"].head(5)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: piscina, dtype: float64

In [53]:
#veo si tiene decimales viendo si todos los float son int
df_navent.piscina.apply(float.is_integer).all()

True

In [68]:
df_navent["piscina"].value_counts()

0.0    219028
1.0     20972
Name: piscina, dtype: int64

In [54]:
df_navent["piscina"].max()

1.0

Sobra float64 podria ser un **bool**

## escuelascercanas

In [55]:
df_navent["escuelascercanas"].head(5)

0    0.0
1    1.0
2    0.0
3    1.0
4    0.0
Name: escuelascercanas, dtype: float64

In [56]:
#veo si tiene decimales viendo si todos los float son int
df_navent.escuelascercanas.apply(float.is_integer).all()

True

In [69]:
df_navent["escuelascercanas"].value_counts()

0.0    133406
1.0    106594
Name: escuelascercanas, dtype: int64

In [57]:
df_navent["escuelascercanas"].max()

1.0

Sobra float64 podria ser un **bool**

## centroscomercialescercanos

In [58]:
df_navent["centroscomercialescercanos"].head(5)

0    0.0
1    1.0
2    0.0
3    1.0
4    0.0
Name: centroscomercialescercanos, dtype: float64

In [59]:
#veo si tiene decimales viendo si todos los float son int
df_navent.centroscomercialescercanos.apply(float.is_integer).all()

True

In [70]:
df_navent["centroscomercialescercanos"].value_counts()

0.0    144832
1.0     95168
Name: centroscomercialescercanos, dtype: int64

In [60]:
df_navent["centroscomercialescercanos"].max()

1.0

Sobra float64 podria ser un **bool**

## precio

In [61]:
df_navent["precio"].head(5)

0    2273000.0
1    3600000.0
2    1200000.0
3     650000.0
4    1150000.0
Name: precio, dtype: float64

In [62]:
#veo si tiene decimales viendo si todos los float son int
df_navent.precio.apply(float.is_integer).all()

True

In [63]:
df_navent["precio"].max()

12525000.0

Sobra float64 pero tampoco es desmedido, podria ser un **int32**

## usosmultiples

In [64]:
df_navent["usosmultiples"].head(5)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: usosmultiples, dtype: float64

In [65]:
#veo si tiene decimales viendo si todos los float son int
df_navent.usosmultiples.apply(float.is_integer).all()

True

In [71]:
df_navent["usosmultiples"].value_counts()

0.0    226778
1.0     13222
Name: usosmultiples, dtype: int64

In [66]:
df_navent["usosmultiples"].max()

1.0

Sobra float64 podria ser un **bool**